# Statistical testing in Python
- Hypothesis testing
- Statistical significance
- T-tests using scipy

In [1]:
import numpy as np
import pandas as pd

In [3]:
from scipy import stats

In [4]:
df = pd.read_csv('grades.csv')
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [5]:
print("{} rows and {} columns".format(df.shape[0],df.shape[1]))

2315 rows and 13 columns

In [9]:
early_finisher = df[pd.to_datetime(df['assignment1_submission']) < '2016']
early_finisher.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000

In [10]:
late_finisher = df[pd.to_datetime(df['assignment1_submission']) >='2016']
late_finisher.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [ ]:
# or alternative = 
# We want everything in df that is not in early _finishers

late_finisher = df[~df.index.isin(early_finishers.index)]
# negating all the true values to find late finishers

## Pandas have variety of statistical function

In [12]:
print(early_finisher['assignment1_grade'].mean())
print(late_finisher['assignment1_grade'].mean())

74.94728457024303
74.0450648477065

- Similar means. But, are they the same? 
- This is where the students' t-test comes in. It allows us to form the alternative hypothesis ("These are different") as well as the null hypothesis ("These are same") and then test that null hypothesis.

- When doing hypothesis testing, we have to choose a significance level as a threshold for how much of a chance we're willing to accept. This significance level is called alpha.
- For eg. alpha = 0.05 or 5%

 ### SciPy's ttest_ind() function
 - **Result**
    - t-statistic and a p-value
    - p-value is more important as it indicates the chance of our Null hypothesis being true

In [13]:
from scipy.stats import ttest_ind

In [14]:
ttest_ind(early_finisher['assignment1_grade'], late_finisher['assignment1_grade'])

Ttest_indResult(statistic=1.322354085372139, pvalue=0.1861810110171455)

In [ ]:
# probability is 0.18 which is > than our alpha (0.05). This means we cannot reject null hypothesis.
# Null hypothesis was the two populations are same, and we don't have enough certainty in our evidencve. 
# Because prob > alpha.

In [15]:
print(ttest_ind(early_finisher['assignment2_grade'], late_finisher['assignment2_grade']))
print(ttest_ind(early_finisher['assignment3_grade'], late_finisher['assignment3_grade']))
print(ttest_ind(early_finisher['assignment4_grade'], late_finisher['assignment4_grade']))
print(ttest_ind(early_finisher['assignment5_grade'], late_finisher['assignment5_grade']))
print(ttest_ind(early_finisher['assignment6_grade'], late_finisher['assignment6_grade']))

Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)
Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)
Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)
Ttest_indResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656)

## Simulation showing p-value has issues

In [16]:
df1 = pd.DataFrame([np.random.random(100) for x in range(100)])
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.276864,0.975239,0.419133,0.925776,0.729492,0.841841,0.485680,0.027170,0.098569,0.165040,...,0.560105,0.123560,0.692666,0.773856,0.865684,0.908961,0.890457,0.154064,0.465064,0.941725
1,0.824822,0.585109,0.327842,0.326391,0.951604,0.160230,0.850429,0.699621,0.169889,0.151521,...,0.505043,0.936904,0.115232,0.586810,0.305083,0.133360,0.632433,0.236540,0.595722,0.778468
2,0.761445,0.244771,0.279822,0.228835,0.922787,0.614729,0.403648,0.017772,0.533230,0.169125,...,0.817992,0.325594,0.519272,0.310382,0.127040,0.252314,0.859284,0.226275,0.930773,0.962530
3,0.719191,0.918396,0.694700,0.385184,0.052783,0.346264,0.706012,0.730824,0.188861,0.487287,...,0.289323,0.590134,0.445728,0.704361,0.629256,0.358749,0.644833,0.016878,0.257915,0.912197
4,0.853451,0.968837,0.401522,0.665292,0.611476,0.173770,0.419476,0.314832,0.117881,0.654980,...,0.744058,0.785807,0.442627,0.574674,0.136408,0.637982,0.324208,0.470602,0.475924,0.313897

In [42]:
df2=pd.DataFrame([np.random.random(100) for x in range(100)])

## Are these two dataframes same?

In [43]:
# Alpha is 0.1 or 10 %

def test_columns(alpha=0.1):
    # no of columns that differ
    num_diff=0
    for col in df1.columns:
        teststat, pval = ttest_ind(df1[col],df2[col])
        if pval <= alpha:
            print('Col {} is statistically significantly different at alpha={} and pval={}'.format(col,alpha, pval))
            num_diff = num_diff+1
    print('Total number of different was {}, which is {}%'.format(num_diff, float(num_diff)/len(df1.columns)*100))

test_columns()

Col 0 is statistically significantly different at alpha=0.1 and pval=0.03645842861606962
Col 25 is statistically significantly different at alpha=0.1 and pval=0.04009971915929725
Col 29 is statistically significantly different at alpha=0.1 and pval=0.014285924737497497
Col 42 is statistically significantly different at alpha=0.1 and pval=0.020972967853017884
Col 55 is statistically significantly different at alpha=0.1 and pval=0.05593196117168867
Col 63 is statistically significantly different at alpha=0.1 and pval=0.05776636374674982
Col 90 is statistically significantly different at alpha=0.1 and pval=0.038446819655130075
Col 99 is statistically significantly different at alpha=0.1 and pval=0.023954465611090995
Total number of different was 8, which is 8.0%

In [44]:
test_columns(0.05)

Col 0 is statistically significantly different at alpha=0.05 and pval=0.03645842861606962
Col 25 is statistically significantly different at alpha=0.05 and pval=0.04009971915929725
Col 29 is statistically significantly different at alpha=0.05 and pval=0.014285924737497497
Col 42 is statistically significantly different at alpha=0.05 and pval=0.020972967853017884
Col 90 is statistically significantly different at alpha=0.05 and pval=0.038446819655130075
Col 99 is statistically significantly different at alpha=0.05 and pval=0.023954465611090995
Total number of different was 6, which is 6.0%

In [45]:
df2 = pd.DataFrame([np.random.chisquare(df=1,size=100) for x in range(100)])

In [46]:
test_columns(0.05)

Col 0 is statistically significantly different at alpha=0.05 and pval=0.004591675235174025
Col 1 is statistically significantly different at alpha=0.05 and pval=7.258017188507472e-05
Col 2 is statistically significantly different at alpha=0.05 and pval=0.0015657997321206426
Col 3 is statistically significantly different at alpha=0.05 and pval=0.0006834468655544988
Col 4 is statistically significantly different at alpha=0.05 and pval=0.0071763109699552255
Col 5 is statistically significantly different at alpha=0.05 and pval=5.173438507673145e-05
Col 6 is statistically significantly different at alpha=0.05 and pval=1.7649804804144822e-06
Col 7 is statistically significantly different at alpha=0.05 and pval=0.0005974697025741371
Col 8 is statistically significantly different at alpha=0.05 and pval=0.0018759092941493796
Col 9 is statistically significantly different at alpha=0.05 and pval=0.00020687670667210767
Col 10 is statistically significantly different at alpha=0.05 and pval=0.001384128005401765
Col 11 is statistically significantly different at alpha=0.05 and pval=0.00011182157373994352
Col 12 is statistically significantly different at alpha=0.05 and pval=2.6730619270181745e-05
Col 13 is statistically significantly different at alpha=0.05 and pval=0.003468836284695138
Col 14 is statistically significantly different at alpha=0.05 and pval=7.121524201735638e-05
Col 15 is statistically significantly different at alpha=0.05 and pval=0.0015486676071334872
Col 16 is statistically significantly different at alpha=0.05 and pval=0.0033063945777638596
Col 17 is statistically significantly different at alpha=0.05 and pval=0.00043502308113980244
Col 18 is statistically significantly different at alpha=0.05 and pval=1.6951090508959764e-05
Col 19 is statistically significantly different at alpha=0.05 and pval=0.004243915130452532
Col 20 is statistically significantly different at alpha=0.05 and pval=3.463025482569552e-05
Col 21 is statistically significantly different at alpha=0.05 and pval=0.0006123824608028994
Col 22 is statistically significantly different at alpha=0.05 and pval=0.0016149347715672011
Col 23 is statistically significantly different at alpha=0.05 and pval=0.0006403541527779215
Col 24 is statistically significantly different at alpha=0.05 and pval=0.0028958912636932984
Col 25 is statistically significantly different at alpha=0.05 and pval=0.005194612849654212
Col 27 is statistically significantly different at alpha=0.05 and pval=9.841626718478111e-05
Col 28 is statistically significantly different at alpha=0.05 and pval=0.0003520854152594634
Col 29 is statistically significantly different at alpha=0.05 and pval=0.0017475034605723431
Col 30 is statistically significantly different at alpha=0.05 and pval=0.004410981769503478
Col 31 is statistically significantly different at alpha=0.05 and pval=0.013213485567747379
Col 33 is statistically significantly different at alpha=0.05 and pval=0.0009172992575089368
Col 34 is statistically significantly different at alpha=0.05 and pval=0.0001952804586174228
Col 35 is statistically significantly different at alpha=0.05 and pval=0.00013952724796099532
Col 36 is statistically significantly different at alpha=0.05 and pval=0.002401474499185259
Col 37 is statistically significantly different at alpha=0.05 and pval=0.0006678260381186911
Col 38 is statistically significantly different at alpha=0.05 and pval=0.003830441435488053
Col 39 is statistically significantly different at alpha=0.05 and pval=9.146352925213883e-05
Col 40 is statistically significantly different at alpha=0.05 and pval=2.9255721225445645e-05
Col 41 is statistically significantly different at alpha=0.05 and pval=0.00021159604137061525
Col 42 is statistically significantly different at alpha=0.05 and pval=0.0008245312990786269
Col 43 is statistically significantly different at alpha=0.05 and pval=0.00023793837425235202
Col 44 is statistically significantly different at alpha=0.05 and pval=0.00042393367969447137
Col 45 is statistically significantly different at alpha=0.05 and pval=0.015373058051969283
Col 46 is statistically significantly different at alpha=0.05 and pval=0.00684564082366192
Col 47 is statistically significantly different at alpha=0.05 and pval=4.043607455549743e-05
Col 48 is statistically significantly different at alpha=0.05 and pval=0.0013411399266679005
Col 49 is statistically significantly different at alpha=0.05 and pval=1.2502533678050679e-05
Col 50 is statistically significantly different at alpha=0.05 and pval=1.1551244422752866e-05
Col 51 is statistically significantly different at alpha=0.05 and pval=0.00021689807215834688
Col 52 is statistically significantly different at alpha=0.05 and pval=0.024938698939726757
Col 53 is statistically significantly different at alpha=0.05 and pval=0.004581706355132835
Col 54 is statistically significantly different at alpha=0.05 and pval=0.00651943609021037
Col 55 is statistically significantly different at alpha=0.05 and pval=0.002683459314500623
Col 56 is statistically significantly different at alpha=0.05 and pval=0.0004836362826760312
Col 57 is statistically significantly different at alpha=0.05 and pval=0.0002656427687341272
Col 58 is statistically significantly different at alpha=0.05 and pval=0.000787388891612869
Col 59 is statistically significantly different at alpha=0.05 and pval=0.0004838151631622693
Col 60 is statistically significantly different at alpha=0.05 and pval=0.002399335357100495
Col 61 is statistically significantly different at alpha=0.05 and pval=7.607352202162649e-06
Col 62 is statistically significantly different at alpha=0.05 and pval=2.0881506600747116e-05
Col 63 is statistically significantly different at alpha=0.05 and pval=0.0005966449888031258
Col 64 is statistically significantly different at alpha=0.05 and pval=0.003597037275385311
Col 65 is statistically significantly different at alpha=0.05 and pval=0.005236793193649938
Col 66 is statistically significantly different at alpha=0.05 and pval=0.00019809052928185011
Col 67 is statistically significantly different at alpha=0.05 and pval=0.0005787911094802765
Col 68 is statistically significantly different at alpha=0.05 and pval=2.1820064498444682e-05
Col 69 is statistically significantly different at alpha=0.05 and pval=0.0026030311797253665
Col 70 is statistically significantly different at alpha=0.05 and pval=0.0018870321656796704
Col 71 is statistically significantly different at alpha=0.05 and pval=9.463777286749423e-05
Col 72 is statistically significantly different at alpha=0.05 and pval=0.000191419636238703
Col 73 is statistically significantly different at alpha=0.05 and pval=0.007333715321299854
Col 74 is statistically significantly different at alpha=0.05 and pval=0.0002859918036671223
Col 75 is statistically significantly different at alpha=0.05 and pval=0.0024620445119886616
Col 76 is statistically significantly different at alpha=0.05 and pval=0.00020980696883504465
Col 77 is statistically significantly different at alpha=0.05 and pval=0.0011823869113409015
Col 78 is statistically significantly different at alpha=0.05 and pval=5.951658993320209e-06
Col 79 is statistically significantly different at alpha=0.05 and pval=0.0003031698552038723
Col 80 is statistically significantly different at alpha=0.05 and pval=0.02353327490985454
Col 81 is statistically significantly different at alpha=0.05 and pval=0.00018296597646278725
Col 82 is statistically significantly different at alpha=0.05 and pval=0.00016166930348223975
Col 83 is statistically significantly different at alpha=0.05 and pval=0.0074635738101131045
Col 84 is statistically significantly different at alpha=0.05 and pval=0.0014190093257750692
Col 85 is statistically significantly different at alpha=0.05 and pval=0.000815923236772559
Col 86 is statistically significantly different at alpha=0.05 and pval=0.007214811460416393
Col 87 is statistically significantly different at alpha=0.05 and pval=0.0005025248838080581
Col 88 is statistically significantly different at alpha=0.05 and pval=0.0005925243002465246
Col 90 is statistically significantly different at alpha=0.05 and pval=0.0013888495116452092
Col 91 is statistically significantly different at alpha=0.05 and pval=0.00033268968210474915
Col 92 is statistically significantly different at alpha=0.05 and pval=4.6324409462106486e-05
Col 93 is statistically significantly different at alpha=0.05 and pval=0.0029398761390728926
Col 94 is statistically significantly different at alpha=0.05 and pval=0.011754035059164718
Col 95 is statistically significantly different at alpha=0.05 and pval=0.0011162822263234512
Col 96 is statistically significantly different at alpha=0.05 and pval=0.0008585311026907485
Col 97 is statistically significantly different at alpha=0.05 and pval=0.0005468327869000678
Col 98 is statistically significantly different at alpha=0.05 and pval=0.00022392121328423725
Col 99 is statistically significantly different at alpha=0.05 and pval=0.0060804400838702895
Total number of different was 97, which is 97.0%

In [47]:
# most columns were different at 10% level